<%- include("include/header") %>
    <form action="/add" method="POST">
      <table id="top">
        <colgroup>
          <col style="width: 20%" />
          <col />
          <col style="width: 10%" />
        </colgroup>
        <thead>
          <th>기분</th>
          <th>내용</th>
          <th>등록</th>
        </thead>
        <tbody>
          <tr>
            <td><div class="moodBox">
              <label for="smile"><input type="radio" name="mood" value="/images/common/Smile.png" id="smile" checked><img src="/images/common/Smile.png" alt=""></label>
              <label for="neutral"><input type="radio" name="mood" value="/images/common/Neutral.png" id="neutral"><img src="/images/common/Neutral.png" alt="" ></label>
              <label for="crying"><input type="radio" name="mood" value="/images/common/Crying.png" id="crying"><img src="/images/common/Crying.png" alt="" ></label>
              <label for="angry"><input type="radio" name="mood" value="/images/common/Angry.png" id="angry"><img src="/images/common/Angry.png" alt="" ></label>
            </div></td>
            <td><input type="text" name="contents" id="contents" /></td>
            <td>
              <button class="addBtn"><span class="material-icons"> add </span></button>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
    <div class="linkBox">
      <a href="/list"><span>LIST</span></a>
    </div>
  </body>
</html>
