<%- include("include/header") %>
  <form action="/login" method="POST" class="mainForm">
    <div class="inputBox">
      <label>
        <div class="label"><span>NICKNAME</span></div>
        <input type="text" name="nickname" id="nickname">
      </label>
      <label>
        <div class="label">
          <span>PASSWORD</span>
        </div>
          <input type="password" name="pw" id="pw">
      </label>
    </div>
    <div class="btns linkBox">
      <button id="loginBtn"><span>LOGIN</span></button>
      <a href="/join" id="joinBtn"><span>JOIN</span></a>
    </div>
  </form>
  </body>
</html>
