<%- include("include/header") %>
    <form action="/updateResult" method="POST">
      <table id="top">
        <colgroup>
          <col style="width: 20%" />
          <col />
          <col style="width: 10%" />
        </colgroup>
        <thead>
          <th>기분</th>
          <th>내용</th>
          <th>수정</th>
        </thead>
        <tbody>
          <tr>
            <td><input type="text" name="name" id="name" value="<%= name %>"/></td>
            <td><input type="text" name="contents" id="contents" value="<%= contents %>"/></td>
            <td>
              <button class="resultBtn"><span class="material-icons"> edit_note </span></button>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
    <div class="linkBox">
      <a href="/list"><span>LIST</span></a>
    </div>
  </body>

</html>
